
@{
    Layout = "~/Views/Shared/_LayoutNormal.cshtml";
}



<!DOCTYPE html>



<head>
    <title>Inicio</title>
    <link href="Estilo.css" rel="stylesheet">
</head>
<body>

   

    <div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-1"></div>
            <div id="video" class="col-sm-5">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/b8h4RRqs1ZE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <div class="col-sm-1"></div>
            <div id="datos" class="col-sm-5">
                <br>
                <br>

                <p>Nombre: </p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p>Hora de Llegada: </p>
            </div>
        </div>
    </div>

</body>

